<div class="container m-3 p-3">
  <button class="btn btn-primary" (click)="cancelOrder()">Cancel Order</button>
  <div class="card mb-3" *ngFor="let order of orderDetails; let i = index">
    <h5 class="card-header">Order Details</h5>
    <div class="card-body">
      <h4 class="card-title">Address :</h4>
      <h6>Name : Sanket Anandkar</h6>
      <h6 class="card-text">
        {{ order.address?.street }}, {{ order.address?.addressLine2 }},
        {{ order.address?.state }}, {{ order.address?.city }} -
        {{ order.address?.pin }}
      </h6>
      <h6>Total Amount : {{ order.total | currency : "INR" }}</h6>
      <h6>Delivery Fee : {{ order.deliveryFee | currency : "INR" }}</h6>
    </div>
  </div>
  <div
    class="row container mt-3 mx-auto p-0"
    *ngFor="let order of orderItems"
    style="height: 200px"
  >
    <div class="col-md-4 text-start">Product images</div>
    <div class="col-md-4 text-start">
      <small style="font-size: 13px" class="text-secondary"
        >Seller :Sanket Anandkar</small
      >
      <p>{{ order.name }}</p>
      <b>{{ order.price | currency : "INR" }}</b>
      <p>Quantity : {{ order.qty }}</p>
      <p>Total : {{ order.subTotal }}</p>
    </div>

    <div class="col-md-4 my-auto" *ngIf="order.status !== 'Cancelled'">
      Progress:
      <mat-progress-bar
        mode="determinate"
        value="{{ order.paymentStatus === 'Pending' ? 50 : 100 }}"
      ></mat-progress-bar>
    </div>
  </div>
</div>
