<nav class="navbar">
  <div class="navbar-1">
    <img src="../../../assets/CompanyLogo.svg" />
  </div>
  <!-- <button class="btn btn-primary">Company</button> -->
  <div class="navbar-2 dropdown">
    <button
      id="temp"
      class="dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Hi, Sanket
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</nav>
