<div class="product">
  <div class="part-image">
    <div>
      <i
        class="back-icon fa-solid fa-arrow-left-long me-5 mb-5 mt-0 text-secondary"
        style="font-size: 35px; cursor: pointer"
        routerLink="/seller/products"
      ></i>
    </div>
    <img
      src="{{ currentProduct?.images[0].url }}"
      *ngIf="currentProduct.images.length !== 0"
    />
  </div>

  <div class="part-details">
    <div class="part-details-desc">
      <h2>Desription :</h2>
      <p>{{ currentProduct?.description }}</p>
      <br />
    </div>
    <div class="part-details-price">
      <h3>Price :</h3>
      <p>{{ currentProduct?.price | currency : "INR" }}</p>
    </div>
    <div class="part-details-buttons">
      <button
        class="btn btn-outline-primary me-2"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="setEditValues()"
      >
        Edit Product
      </button>
      <button class="btn btn-outline-danger me-2" (click)="deleteProduct()">
        Delete
      </button>
      <button
        class="btn btn-outline-warning"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="updateImagesToggle()"
      >
        Edit Images
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{ modalToggle }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="modalToggle === 'updateProduct'">
          <form class="rounded p-4 p-sm-3" [formGroup]="editProductForm">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
            <div>
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                min="0"
                formControlName="price"
              />
            </div>
          </form>
        </div>
        <div *ngIf="modalToggle === 'Update Images'">
          <div class="mb-3">
            <form [formGroup]="updateImagesForm">
              <div class="row mb-3">
                <label class="form-label">Choose Images</label>
                <input
                  class="form-control form-control-sm"
                  id="formFileSm"
                  type="file"
                  multiple
                  (change)="onFileSelect($event)"
                  formControlName="new_images"
                />
              </div>
              <div class="row mb-3 delete-images-div">
                <div
                  class="image-section flex align-items-center"
                  *ngFor="let image of previewImages"
                >
                  <img
                    [src]="image"
                    style="width: 60px; height: 60px; cursor: pointer"
                    class="rounded-circle"
                  />
                </div>
              </div>
              <label class="form-label me-1">Images to delete : </label>
              <div
                class="row delete-images-div"
                *ngIf="uniqueSet.length !== copyImages.length"
              >
                <div
                  class="image-section"
                  *ngFor="let image of copyImages; let i = index"
                >
                  <img
                    *ngIf="image !== ''"
                    class="rounded-circle me-1"
                    src="{{ image?.url }}"
                    style="width: 60px; height: 60px; cursor: pointer"
                    (click)="removeImages(image.public_id, i)"
                  />
                  <div class="cancel-mark">
                    <i
                      *ngIf="image !== ''"
                      class="fa-solid fa-xmark"
                      (click)="removeImages(image.public_id, i)"
                    ></i>
                  </div>
                </div>
              </div>
              <small>
                <b>Files Selected : {{ uniqueSet.length }}</b>
              </small>
              <br />
              <div class="d-flex justify-content-end mt-2">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-dismiss="modal"
                  (click)="updateImages(currentProduct._id)"
                >
                  Update Images
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="modalToggle === 'updateProduct'">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-dismiss="modal"
          (click)="submitUpdateProduct()"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
