<div class="product">
  <div *ngFor="let image of currentProduct?.images" class="part-image">
    <img [src]="image.url" />
  </div>

  <div class="part-details">
    <div class="part-details-desc">
      <h2>Desription :</h2>
      <p>{{ currentProduct?.description }}</p>
      <br />
    </div>
    <div class="part-details-price">
      <h3>Price :</h3>
      <p>{{ currentProduct?.price | currency : "INR" }}</p>
    </div>
    <div class="part-details-buttons">
      <button
        class="btn btn-primary me-3"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="setEditValues()"
      >
        Edit Product
      </button>
      <button class="btn btn-outline-danger" (click)="deleteProduct()">
        Delete
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="rounded p-4 p-sm-3" [formGroup]="editProductForm">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>
          <div>
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              min="0"
              formControlName="price"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-dismiss="modal"
          (click)="submitUpdateProduct()"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
