body {
  margin: 0%;
  padding: 0%;
  background-color: #4158d0;
}
.container1 {
  height: 100vh;
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: auto;
  background-repeat: no-repeat;
  background-color: #4158d0;
  background: linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
}

.form {
  width: 400px;
  margin-top: 5rem;
}
